<script>
  const active = window.location.hash === '#video' ? 'video' : window.location.hash === '#arbeiten' ? 'work' : 'bio';
</script>
<div x-data="{ active: active }">
  {{ partial:menu/page/wrapper }}
    <li class="col-span-12 md:col-span-4 flex justify-between items-center">
      {{ if bio_text || bio_media }}
        <a 
          href="{{ url }}#biografie"
          x-on:click="window.scrollTo(0,0); active = 'bio'"
          :class="{ 'text-ash': active !== 'bio' }"
          title="Biografie">
          Biografie
        </a>
      {{ /if }}
      {{ if work_text || work_media }}
        <a 
          href="{{ url }}#arbeiten"
          x-on:click="window.scrollTo(0,0); active = 'work'"
          :class="{ 'text-ash': active !== 'work' }"
          title="Arbeiten">
          Arbeiten
        </a>
      {{ /if }}
      {{ if video_text || video_media }}
        <a 
          href="{{ url }}#video" 
          x-on:click="window.scrollTo(0,0); active = 'video'"
          :class="{'text-ash': active !== 'video', 'block pr-12 md:pr-0': true}"
          title="Video">
          {{ partial:icons/video class="w-24 h-24" }}
        </a>
      {{ /if }}
    </li>
    <li class="hidden md:col-span-8 md:flex justify-end pr-12">
      <a href="/einblicke-bestaende" title="Einblicke Bestände" class="uppercase text-ash">
        A-Z
      </a>
    </li>
  {{ /partial:menu/page/wrapper }}
  <article class="pt-32 md:pt-48 xl:pt-44 md:grid md:grid-cols-12 md:gap-24" x-show="active == 'bio'">
    <div class="px-8 md:px-12 md:col-span-4">
      <h1>{{ title }}</h1>
      <div class="mt-4 md:mt-24 xl:mt-48">
        {{ bio_text }}
      </div>
    </div>
    <div class="md:col-span-8 mt-32 md:mt-0">
      {{ bio_media }}
        {{ partial:media/image }}
      {{ /bio_media }}
    </div>
  </article>
  <article class="pt-32 md:pt-48 xl:pt-44 md:grid md:grid-cols-12 md:gap-24" x-show="active == 'work'">
    <div class="px-8 md:px-12 md:col-span-4">
      <h1>{{ title }}</h1>
      <div class="mt-4 md:mt-24 xl:mt-48">
        {{ work_text }}
      </div>
    </div>
    <div class="md:col-span-8 mt-32 md:mt-0">
      {{ work_media }}
        {{ partial:media/image }}
      {{ /work_media }}
    </div>
  </article>
  <article class="pt-32 md:pt-48 xl:pt-44 md:grid md:grid-cols-12 md:gap-24" x-show="active == 'video'">
    <div class="px-8 md:px-12 md:col-span-4">
      <h1>{{ title }}</h1>
      <div class="mt-24 xl:mt-52">
        {{ video_text }}
      </div>
    </div>
    <div class="md:col-span-8 mt-32 md:mt-0">
      {{ video_media }}
        {{ partial:media/video }}
      {{ /video_media }}
    </div>
  </article>
</div>