{{ partial:layout/header }}

{{# {{ page_elements }}
{{ partial:components/elements }}
{{ /page_elements }} #}}

<div class="md:grid md:grid-cols-12 md:gap-6 xl:gap-24 md:mt-24 xl:mt-48">

  <div class="md:col-span-6 md:px-12 2xl:px-48 flex flex-col gap-y-24 2xl:gap-y-48">
    <figure class="bg-ruby aspect-square"></figure>
    <figure class="bg-ruby aspect-[16/9]"></figure>
    <figure class="bg-ruby aspect-square"></figure>
  </div>

  <div class="md:col-span-6 md:px-12 2xl:px-48 flex flex-col gap-y-24 2xl:gap-y-48">
    <figure class="bg-ruby aspect-[16/9]"></figure>
    <figure class="bg-ruby aspect-[12/16]"></figure>
    <figure class="bg-ruby aspect-square"></figure>
  </div>

</div>
