<section class="pt-32 md:pt-46 xl:pt-42 md:grid md:grid-cols-12 md:gap-24">
  <article class="content md:col-span-6">
    <div class="px-8 md:px-12">
      {{ page_elements }}
        {{ partial:components/elements }}
      {{ /page_elements }}
    </div>
  </article>
  <article class="md:col-span-6 space-y-18 md:space-y-36 xl:space-y-64">
    {{ media }}
      {{ if type == 'image' }}
        {{ partial:media/image wrapperClass="!mb-0" }}
      {{ /if }}
      {{ if type == 'video' }}
        {{ partial:media/video }}
      {{ /if }}
    {{ /media }}
  </article>
</section>