{{# <main class="md:grid md:grid-cols-16 md:gap-6 gap-24 max-w-page mx-auto">
  <div class="md:col-span-4">
    {{ partial:menu/wrapper }}
  </div>
  <div 
    class="md:col-span-12"
    x-show="!menu || isMediumScreen">
    {{ slot }}
  </div>
</main> #}}

<main class="md:flex max-w-page mx-auto">
  <div class="md:h-screen md:w-1/4 relative">
    {{ partial:menu/wrapper }}
  </div>
  <div 
    class="md:w-3/4 pb-18 md:pb-24 xl:pb-48 relative"
    x-show="!menu || isMediumScreen">
    {{ slot }}
  </div>
</main>