{{ if type == 'editor' }}
  {{ content }}
    {{ if type == 'text' }}
      {{ text }}
    {{ /if }}
    {{ if type == 'imprint' }}
      <div class="text-xs xl:text-sm mt-48 xl:mt-96">
        {{ text }}
      </div>
    {{ /if }}

  {{ /content }}
{{ /if }}

{{ if type == 'teasers' }}
  <div class="md:grid md:grid-cols-12 md:gap-6 xl:gap-24 md:mt-24 xl:mt-48">
    <div class="mb-48 md:mb-0 md:col-span-6 flex flex-col gap-y-48 md:gap-y-72 xl:gap-y-128 relative z-0">
      {{ if col_left | count == 0 }}
        {{ partial:components/events/teaser }}
      {{ /if }}
      {{ if col_left | count == 1 }}
        {{ col_left }}
          {{ partial:components/teaser }}
          {{ partial:components/events/teaser }}
        {{ /col_left }}
      {{ else }}
        {{ col_left }}
          {{ if index == 1 }}
            {{ partial:components/events/teaser }}
          {{ /if }}
          {{ partial:components/teaser }}
        {{ /col_left }}
      {{ /if }}
    </div>
    <div class="md:col-span-6 flex flex-col gap-y-48 md:gap-y-72 xl:gap-y-128 relative z-0">
      {{ col_right }}
        {{ partial:components/teaser }}
      {{ /col_right }}
    </div>
  </div>
{{ /if }}

{{ if type == 'mediareports' }}
<div class="md:grid md:grid-cols-12 md:gap-6 xl:gap-24 md:mt-24 xl:mt-48">
  {{ mediareport }}
    <div class="md:col-span-4">
      {{ if uri }}
        <a 
          href="{{ uri }}" 
          title="{{ caption }}" 
          class="hover:text-mustard group">
          {{ partial:media/image-mediareport }}
        </a>
      {{ else }}
        {{ partial:media/image-mediareport }}
      {{ /if }}
    </div>

  {{ /mediareport }}
</div>
{{ /if }}

{{ if type == 'partner' }}
<div class="pt-32 md:pt-46 xl:pt-42">
  <h2>{{ intro_text | nl2br }}</h2>
  <div class="grid grid-cols-12 gap-32 md:gap-48 xl:gap-64">
    {{ partner }}
        <a href="{{ link }}" target="_blank" class="text-xs xl:text-sm flex flex-col justify-start col-span-6 md:col-span-4 xl:col-span-3 !text-black">
          <span class="flex items-center aspect-[16/10] py-12 relative">
            <img src="{{ logo }}" width="{{ logo:width }}" height="{{ logo:height }}" alt="{{ name }}" class="w-full h-full object-contain absolute">
          </span>
          <span class="mt-6">
            {{ name }}
          </span>
        </a>
    {{ /partner }}
  </div>
</div>
{{ /if }}

