{{ if type == 'editor' }}
  {{ content }}
    {{ if type == 'text' }}
      {{ text }}
    {{ /if }}
    {{ if type == 'imprint' }}
      <div class="text-xs xl:text-sm mt-48 xl:mt-96">
        {{ text }}
      </div>
    {{ /if }}
  {{ /content }}
{{ /if }}

{{ if type == 'teasers' }}
  <div class="md:grid md:grid-cols-12 md:gap-6 xl:gap-24 md:mt-24 xl:mt-48">
    <div class="mb-48 md:mb-0 md:col-span-6 flex flex-col gap-y-48 md:gap-y-72 xl:gap-y-128 relative z-0">
      {{ if col_left | count == 0 }}
        {{ partial:components/events/teaser }}
      {{ /if }}
      {{ if col_left | count == 1 }}
        {{ col_left }}
          {{ partial:components/teaser }}
          {{ partial:components/events/teaser }}
        {{ /col_left }}
      {{ else }}
        {{ col_left }}
          {{ if index == 1 }}
            {{ partial:components/events/teaser }}
          {{ /if }}
          {{ partial:components/teaser }}
        {{ /col_left }}
      {{ /if }}
    </div>
    <div class="md:col-span-6 flex flex-col gap-y-48 md:gap-y-72 xl:gap-y-128 relative z-0">
      {{ col_right }}
        {{ partial:components/teaser }}
      {{ /col_right }}
    </div>
  </div>
{{ /if }}

{{ if type == 'mediareports' }}
  asdf
{{ /if }}
