{{ if type == 'editor' }}
  {{ content }}
    {{ if type == 'text' }}
      {{ text }}
    {{ /if }}
    {{ if type == 'imprint' }}
      <div class="text-xs xl:text-sm mt-48 xl:mt-96">
        {{ text }}
      </div>
    {{ /if }}
  {{ /content }}
{{ /if }}

{{ if type == 'teasers' }}
  <div class="md:grid md:grid-cols-12 md:gap-6 xl:gap-24 md:mt-24 xl:mt-48">
    <div class="mb-48 md:mb-0 md:col-span-6 flex flex-col gap-y-48 md:gap-y-72 xl:gap-y-128 relative z-0">
      {{ if col_left | count == 0 }}
        {{ partial:components/events/teaser }}
      {{ /if }}
      {{ if col_left | count == 1 }}
        {{ col_left }}
          {{ partial:components/teaser }}
          {{ partial:components/events/teaser }}
        {{ /col_left }}
      {{ else }}
        {{ col_left }}
          {{ if index == 1 }}
            {{ partial:components/events/teaser }}
          {{ /if }}
          {{ partial:components/teaser }}
        {{ /col_left }}
      {{ /if }}
    </div>
    <div class="md:col-span-6 flex flex-col gap-y-48 md:gap-y-72 xl:gap-y-128 relative z-0">
      {{ col_right }}
        {{ partial:components/teaser }}
      {{ /col_right }}
    </div>
  </div>
{{ /if }}

{{ if type == 'mediareports' }}
<div class="md:grid md:grid-cols-12 md:gap-6 xl:gap-24 md:mt-24 xl:mt-48">
  {{ mediareport }}
    <div class="md:col-span-4">
      {{ if uri }}
        <a 
          href="{{ uri }}" 
          title="{{ caption }}" 
          class="hover:text-ruby group">
          <figure class="mb-36 md:mb-72 xl:mb-128 last-of-type:mb-0 {{ wrapperClass }}">
            <picture class="block">
              <source media="(min-width: 1280px)" srcset="{{ glide:image preset='2xl-webp' }}" type="image/webp">
              <source media="(min-width: 1024px)" srcset="{{ glide:image preset='xl-webp' }}" type="image/webp">
              <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg-webp' }}" type="image/webp">
              <source srcset="{{ glide:image preset='md-webp' }}" type="image/webp">
              <source media="(min-width: 1280px)" srcset="{{ glide:image preset='2xl' }}" type="image/jpeg">
              <source media="(min-width: 1024px)" srcset="{{ glide:image preset='xl' }}" type="image/jpeg">
              <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg' }}" type="image/jpeg">
              <img 
                src="{{ glide:image preset='md' }}" 
                alt="{{ image:alt }}" 
                title="{{ image:alt }}" 
                height="{{ image:height }}" 
                width="{{ image:width }}"
                class="block w-full h-auto {{ imageClass ?? '' }} group-hover:opacity-75 transition-opacity"
                loading="lazy">
            </picture>
            <figcaption class="w-full pt-6 xl:pt-8 text-sm xl:text-md hyphens-auto group/hover:text-ruby transition-colors">
              {{ caption }}
            </figcaption>
          </figure>
        </a>
      {{ else }}
        {{ partial:media/image }}
      {{ /if }}
    </div>

  {{ /mediareport }}
</div>
{{ /if }}
