{{ if (current_uri | ends_with('kommende-veranstaltungen')) }}
  {{ collection:events as="events" query_scope="upcoming_events" }}
    {{ if no_results }}
      <p>Es gibt keine vergangenen Veranstaltungen.</p>
    {{ /if }}
    {{ events }}
      {{ partial:components/events/card }}
    {{ /events }}
  {{ /collection:events }}
{{ /if }}

{{ if (current_uri | ends_with('vergangene-veranstaltungen')) }}
  {{ collection:events as="events" query_scope="archived_events" }}
    {{ if no_results }}
      <p>Es gibt keine vergangenen Veranstaltungen.</p>
    {{ /if }}
    {{ events }}
      {{ partial:components/events/card }}
    {{ /events }}
  {{ /collection:events }}
{{ /if }}